<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>About Page</h1>
    <h2>
        <%= name %>
    </h2>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque amet est a? Ad incidunt nesciunt qui delectus. Officia totam ratione veritatis praesentium possimus unde reiciendis, esse voluptates magnam dolore harum.</h5>
</body>
</html>